{%extends 'base.html'%}
{%import 'macros.html' as macro%}
{%block content%}

<div style="margin-left: 50px; margin-top: 60px;">
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:160px; height: 400px !important;">

        <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#business">Business</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#interview">Interview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sales_pitch">sales_pitch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#production_pitch">production_pitch</a>
            </li>
        </ul>
    </div>


    <div class="container">
        <div class="tab-content">
            <div id="business" class="container tab-pane active"><br>
                {{ macro.display(business_pitch) }}

            </div>
            <div id="interview" class="container tab-pane fade"><br>
                {{ macro.display(interview_pitch) }}
            </div>
            <div id="sales_pitch" class="container tab-pane fade"><br>
                {{ macro.display(sales_pitch)}}
            </div>
            <div id="production_pitch" class="container tab-pane fade"><br>
                {{ macro.display(production_pitch) }}
            </div>
        </div>
    </div>





</div>

{%endblock%}